
*{
    box-sizing: border-box;
}
.fl{
    float:left;
}
.fr{
    float:right;
}

.fn{
    float:none;
}

.tl{
    text-align: left;
}
.tc{
    text-align: center;
}
.tr{
    text-align: right;
}
.tj{
    text-align: justify;
}

.clear{
    clear: both;
}

.ovh{
    overflow: hidden;
}

